.form {
  padding: 72px 41px 40px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.formInput {
  padding: 10px;
  max-width: 429px;
  border-radius: 10px;
  box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
  border-color: transparent;
  margin-bottom: 16px;
  outline: none;
  color: var(--dark-navi);
  resize: none;
}

.formBtn {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 39px;
  display: block;
  max-width: 243px;
  border-radius: 32.5px;
  border: none;
  background-color: var(--dark-navi);
  color: #fff;
  cursor: pointer;
  @include hoverLinkTransition;

  &:hover {
    background-color: #fff;
    color: var(--dark-navi);
  }
}
