.rocket {
    padding: 70px 0 60px;
    background-color: #FFC351;
    background-image: url('../../images/rocketIcon.svg');
    background-repeat: no-repeat;
    background-position: 70% 100%;
}

.futureForm {
    width: 512px;
    height: 601px;
    border: 1px solid white;
}

.rocketTitle {
    @include font(60, 700, 55, -1.2);
    color: #fff;
}

.rocketText {
    margin: 34px 0px;
    @include font(24, 500, 24, -0.24);
    color: #fff;

}