.values {
  padding: 40px 0;
  background-color: #fbfafa;

  @include tablet {
    padding-top: 172px;
    padding-bottom: 196px;
  }
}

.valuesTitle {
  @include font(50, 700, 50, -1);
  color: var(--dark-navi);
}

.valuesList {
  margin-top: 40px;

  @include tablet {
    margin-top: 79px;
    display: flex;
  }
  
}

@include tablet {
  .valuesItem:nth-child(1) {
    margin-right: 95px;
    width: 641px;
  }
  .valuesItem:nth-child(2) {
    margin-right: 80px;
  
  }
}

.valuesItemSpan {
  @include font(30, 700, 30, -0.3);
  color: var(--orange);
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    margin-top: 19px;
    width: 50px;
    height: 1px;
    display: block;
    background-color: var(--dark-navi);
  }
}

.valuesItemText {
  @include font(30, 400, 38, -0.3);
  margin-top: 26px;
  color: var(--dark-navi);
}

.bulbWrap {
  position: relative;
}

.bulb {
  position: absolute;
  right: 0;
  top: 50px;

  @include tablet {
    top: 0;
  }
}
