.works {
  padding: 40px 0px;

  @include tablet {
    padding-top: 140px;
  }
}

.worksTitle {
  margin-bottom: 55px;
  @include font(50, 700, 50, -0.5);
  color: var(--dark-navi);
  text-align: center;
}

.worksList {
  text-align: center;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

.worksItem {
  padding: 15px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);

  margin-bottom: 20px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include desktop {
    padding: 45px 100px 50px;
    margin-bottom: 0px;
  }
}

.worksBtn {
  max-width: 107px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 15px 35px;
  color: var(--light-blue);
  background-color: transparent;
  border: 1px solid;
  border-radius: 32px;
  border-color: inherit;
  cursor: pointer;
  font-weight: 700;
  @include hoverLinkTransition;

  &:hover {
    color: #fff;
    background-color: var(--light-blue);
  }
}

.worksItemTitle {
  @include font(32, 700, 30, -0.32);
  color: var(--dark-navi);
}

.worksItemText {
  @include font(16, 400, 20, -0.16);
  margin-bottom: 25px;
  margin-top: 25px;
}

.worksItemImage {
  width: 100%;
  height: auto;
}

.titleColor0 {
  color: #a9bc87; /* Red */
}

.titleColor1 {
  color: #8bb5c9; /* Green */
}

.titleColor2 {
  color: #00a0b6; /* Blue */
}

.titleColor3 {
  color: #8b60d3; /* Magenta */
}
